body {
    text-align: center;
    background: linear-gradient(#FF8A80 0%, #81D4FA 100%);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.article:hover {
    color: aqua;
}

h1 {
    text-shadow: 2px 2px ##FFFF8D;
    font-size: 20px;
    text-align: center;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
    color: white;
}

img {
    border-radius: 50%;
    width: 100px;
    text-align: center;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Miltonian Tattoo', cursive;
}

.links:hover {
    background-color: peachpuff;
}

#welcome {
    display: table;
    width: 100%;
    height: 100%;
}
